body{

    font-family: Arial;
    
    margin:90px;
    
    }
    
    input{
    
    width:250px;
    
    padding:5px;
    
    }
    
    button{
    
    padding:10px 20px;
    
    cursor:pointer;
    
    }
    
    .card{
    
    border:1px solid #e60fa5;
    
    padding: 12px;
    
    margin-top:15px;
    
    border-radius:8px;
    
    }